*{
    margin:0;
    padding:0;
    box-sizing: 0;
    font-family:"Montserrat";
}
.container-fluid{
    width: 90%;
    margin: auto;
}
.table-responsive{
    max-height: 700px;
    box-shadow: rgba(0, 0, 0, 0.25)0px 25px 50px -12px;
    background-color:blue;
    height: 3000px;
    
}
tr:hover{
    background-color: salmon;
}

.table tr td:hover:nth-child(4){
background-color: sandybrown;
color: seashell;
border: 0.5px solid rgb(12,12,12);
}
